<div layout="column" layout-fill ng-cloak class="md-form" flex>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>
                <span>Settings</span>
            </h2>
            <span flex></span>
             <md-button class="md-icon-button" aria-label="Done">
                <a ui-sref="main.dashboard({refresh:false})">
                    <md-icon md-svg-src="./img/done.svg"></md-icon>
                </a>
            </md-button>
        </div>
    </md-toolbar>
    <form name="userForm">
        <md-content layout-padding md-theme="docs-dark">
            <div layout layout-sm="row">
                <md-input-container flex>
                    <label>Url</label>
                    <input name="url" ng-model="_ctrl.newRest.url" placeholder="https://www.zomato.com/"
                           required>
                    <div ng-messages="_ctrl.newRest.url.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Url is required</div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-sm="row">
                <md-input-container flex>
                    <label>ID</label>
                    <input name="id" ng-model="_ctrl.newRest.id" placeholder="nazevrestaurace"
                           required md-maxlength="30" ng-pattern="/^[^ ]+$/">
                    <div ng-messages="_ctrl.newRest.id.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">ID is required</div>
                        <div ng-message="md-maxlength" class="my-message">ID must have less than 30 characters</div>
                        <div ng-message="pattern" class="my-message">ID must not contain spaces</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Name</label>
                    <input name="name" ng-model="_ctrl.newRest.name" placeholder="Název restaurace"
                           required md-maxlength="100">
                    <div ng-messages="_ctrl.newRest.name.$error" role="alert" multiple>
                        <div ng-message="required" class="my-message">Name is required</div>
                        <div ng-message="md-maxlength" class="my-message">Name must have less than 100 characters</div>
                    </div>
                </md-input-container>
            </div>
            <div layout layout-sm="row">
                <span flex></span>
                <md-button class="md-raised" aria-label="Done" ng-click="_ctrl.addRestaurant(userForm)" style="color:black">
                    Add
                </md-button>
            </div>
        </md-content>
    </form>
    <md-content flex layout-padding>
        <md-list>
            <md-list-item class="md-2-line" ng-repeat="rest in _ctrl.config.restaurants">
                <div class="md-list-item-text">
                    <h3>{{ rest.name }} ({{ rest.id}})</h3>
                    <p>{{rest.url}}</p>
                </div>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Delete" ng-click="_ctrl.delete(rest)">
                    <md-icon md-svg-src="./img/delete.svg"></md-icon>
                </md-button>
            </md-list-item>
        </md-list>
    </md-content>
</div>
