body {
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
    font-size: 13px;
    color: #2D2D2D;
}

.restaurantContent {
    height: calc(~"100% - 64px");
}

md-dialog.fullscreen {
    max-width: 95;
    max-height:800px;
    width: 95%;
    height: 95%;
    
}

.top-margin{
    margin-top: 10px;
}

.md-secondary.first{
    right:48px;
}

.md-avatar.thumb{
    width:48px;
    height:48px;
    border-radius: 24px;
}