body {
    font-family: "Helvetica Neue","Segoe UI",Arial,sans-serif;
    font-size: 13px;
    color: #2D2D2D;
}

/*.layout {
   height: inherit;
}*/

.restaurantContent {
    height: calc(~"100% - 64px");
}

md-dialog.fullscreen {
    max-width: 95;
    max-height:800px;
    width: 95%;
    height: 95%;
    
}

.top-margin{
    margin-top: 10px;
}

input               {
  padding:10px 10px 10px 5px;
  display:block;
}